.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.kategoriTittel {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #444;
  text-align: left;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
}
